/*
.chart {
  background: #fff;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
  border: 2px solid black;
  margin: 10px;
}
.chart text {
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

#map {
  width: 460px;
  height: 500px;
}*/

/*#map {
  width: 960px;
  height: 500px;
}

svg {
  position: relative;
}

path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}*/

/*path {
  fill: #E5F5F9;
  stroke: #2CA25F;
  stroke-width: 0.5;
}
#axes {
  stroke: black;
  stroke-width: 1;
}*/

/*/ brazil states*/
.subunit-RS,
.subunit-SC,
.subunit-PR  { fill: #ddc; }

.subunit-SP,
.subunit-RJ,
.subunit-MG,
.subunit-ES { fill: #cdd; }

.subunit-MT,
.subunit-MS,
.subunit-GO,
.subunit-TO,
.subunit-DF { fill: #cdc; }

.subunit-AM,
.subunit-RO,
.subunit-RR,
.subunit-AC,
.subunit-PA,
.subunit-AP { fill: #dcd; }

.subunit-BA,
.subunit-PE,
.subunit-RN,
.subunit-CE,
.subunit-MA,
.subunit-PI,
.subunit-SE,
.subunit-PB,
.subunit-AL { fill: #ccd; }

.none { fill: #FFF; }
.lowest { fill: #DDD; }
.low { fill: #BBB; }
.medium { fill: #999 }
.high { fill: #777 }
.highest { fill: #555 }

.place-label {
    font-size: 10px;
}

body {
  background-color:#F0F0F0;
}

svg {
  border: 1px solid black;
}

path {
  fill: oldlace;
  stroke: #666;
  stroke-width: .5px;
}
