.place {
  fill: #000;
  cursor: pointer;
}

.none { fill: #fff; }
.lowest { fill: #edf8e9; }
.low { fill: #bae4b3; }
.medium { fill: #74c476; }
.high { fill: #31a354; }
.highest { fill: #006d2c; }

.place-label {
    font-size: 10px;
}

body {
  background-color:#F0F0F0;
}

.right-column {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

path {
  fill: oldlace;
  stroke: #666;
  stroke-width: .5px;
}
