.place {
  fill: #000;
  cursor: pointer;
}

.none { fill: #fff; }
.lowest { fill: #edf8e9; }
.low { fill: #bae4b3; }
.medium { fill: #74c476; }
.high { fill: #31a354; }
.highest { fill: #006d2c; }

.place-label {
    font-size: 10px;
}

body {
  background-color:#F0F0F0;
}

path {
  stroke: #666;
  stroke-width: .5px;
}

path.inactive {
  fill: #CCC
}

path.active {
  stroke-width: 1.5px;
  stroke: #000;
}

.photo {
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}

.photo img {
  margin: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(147, 161, 204, 0.58);
  border-radius: 90px;
}

.app-title {
  text-align: center;
  margin:20px;
}




